<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          
          <div>
          <a class="navbar-brand" href="Registrar">INICIO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li><a href="">Menu</a>             
                   <ul>
                       <li><a href="http://localhost/recetas%20para%20ni%C3%B1os/public/recetas">Registrar receta</a> </li>
                       <li><a href="">Inicio</a> </li>
                  </ul> 
               </li>
            </ul>
          </div>
        </div>

        </div>
      </nav>
    esto es un ejemplo zasxdcfghjklkjhgfddfghjklkjhgcxcvbnm,mhgfdfghjk
</body>
</html>