#main-container{
    margin: 100px auto;
    width: 800px;
}
table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    
    padding: 15;
}
thead{
    background-color: #198754;
    border-bottom: solid 5px #343a40;
    color:white;
}
.navbar-brand > a{
    text-align: center;
}
